@use 'base/variables' as v;
@use 'base/mixins' as m;

.anfitrion {
    margin-top: 5rem;
    background-image: linear-gradient(
        to bottom,
        v.$negro 0%,
        v.$negro 50%,
        transparent 51%,
        transparent 100%
    ), url(../img/anfitrion.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 75rem;
    background-position: center, center 37rem;


    display: grid;
    grid-template-rows: repeat(2, 40rem);
    align-items: center;
    @include m.tablet {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        background-image: linear-gradient(
            to right,
            v.$negro 0%,
            v.$negro 50%,
            transparent 61%,
            transparent 100%
        ), url(../img/anfitrion.jpg);
        background-size: 100%, 90rem;
        background-position: center, right center;
    }

    &__contenido {
        grid-template-rows: 1 / 2;
        color: v.$blanco;
        padding: 5rem 2.5rem;

        @include m.tablet {
            padding: 10rem 5rem;
        }
    }
    &__heading {
        font-size: 3.5rem;
    }
    &__texto {
        color: v.$blanco;
    }
    &__enlace {
        background-color: v.$blanco;
        color: v.$negro;
        border: none;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 1rem;
        display: inline-block;
        margin: 2rem 0;
        text-align: center;
    }
}